.carouselButton {
  background-image: url('./arrow.svg');
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  width: 16px;

  &:hover {
    cursor: pointer;
  }
}

.carouselButtonBack {
  transform: rotate(180deg);
}

.carouselButtonHidden {
  display: none;
}
