@import '../../../styles/variables';

.button {
  background-color: $color-red;
  border-radius: 4px;
  color: $white;
  display: block;
  font-size: 18px;
  font-weight: 900;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s;
  width: 240px;

  &:hover {
    background: darken($color-red, 10%);
  }
}
