@import '../../styles/variables.scss';

.hidden {
  display: none;
}

.h2 {
  font-size: 46px;
  padding-top: 100px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin: 100px auto 94px;
  max-width: 545px;
  padding: 0 20px;

  @media(max-width: $narrow-mobile-width) {
    max-width: 380px;
  }

  @media(max-width: $extra-narrow-mobile-width) {
    flex-direction: column;
    margin: 50px auto;
    padding: 0 40px;
  }
}

.sectionBreak {
  background-color: $light-gray;
  height: 2px;
  margin: 0 auto;
  max-width: 900px;

  @media(max-width: $wide-mobile-width) {
    width: 80%;
  }
}
