@import '../../styles/variables.scss';

.featureTile {
  margin-bottom: 60px;
  width: 320px;

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  text-align: left;

  @media(max-width: $mobile-width) {
    font-size: 24px;
  }
}

.arrow {
  color: $hot-pink;
  display: inline-block;
  margin-left: 5px;
}
