@import '../../styles/variables.scss';

.speakerTile {
  flex: 1;
  margin-bottom: 40px;
  min-width: 250px;
  text-align: center;

  @media(max-width: $mobile-width) {
    margin-bottom: 30px;
    width: 50%;
  }
}

.headshot {
  height: 240px;
  margin: 0 auto;
  width: 240px;

  @media(max-width: $mobile-width) {
    height: 100px;
    width: 100px;
  }
}

.headshotImg {
  max-width: 100%;
}

.name {
  color: $midnight-blue;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.67;
  margin: 30px 0 12px;

  @media(max-width: $mobile-width) {
    font-size: 14px;
    margin-top: 12px;
  }
}

.company {
  color: $cookie-monster-blue;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 12px;
  text-transform: uppercase;

  @media(max-width: $mobile-width) {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 9px;
  }
}

.title {
  color: $lavender;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 2.0;
  margin-bottom: 20px;
  text-align: center;

  @media(max-width: $mobile-width) {
    font-size: 14px;
  }
}
