@import '../../styles/variables.scss';

.entry {
  margin-bottom: 12px;
  min-height: 104px;
  width: 420px;

  @media (max-width: $wide-mobile-width) {
    margin-bottom: 20px;
    max-width: 560px;
    width: 95%;
  }
}

@mixin entry($entry-class-name, $entry-color) {
  .entry.#{$entry-class-name} {
    .time {
      background-color: $entry-color;
      border-color: $entry-color;
    }

    .entryBody {
      border-color: $entry-color;
    }
  }
}

@include entry('talk', $color-dark-grey);
@include entry('keynote', $color-red);
@include entry('workshop', $color-red);
@include entry('meal', $color-yellow);
@include entry('break', $color-medium-grey);

.time {
  border: 1px solid;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: $white;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  justify-content: space-around;
  line-height: 40px;
  margin: 0;
  padding: 0 14px;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $wide-mobile-width) {
    justify-content: space-between;
  }
}

.day {
  display: none;

  @media (max-width: $wide-mobile-width) {
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.entryBody {
  border: 1px solid;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: none;
  box-sizing: border-box;
  padding: 24px 10px 16px;
}

.detailsToggle {
  background: transparent;
  border: none;
  color: $color-medium-grey;
  font-family: $primary-font;
  font-size: 10px;
  font-weight: 700;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}

.details {
  p {
    font-size: 16px;
    margin: 10px auto;
    width: 95%;
  }

  li {
    list-style-position: inside;
  }
}

.category {
  color: $color-medium-grey;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 9px;
  text-align: center;
  text-transform: uppercase;
}

.title {
  color: $color-red;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 6px;
  text-align: center;
}

.speaker {
  color: $color-dark-grey;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
  text-align: center;
}

.slides {  
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

.details {
  font-size: 14px;
  text-align: center;
}
