$black: #000;
$cloud: #F4F7FB;
$cookie-monster-blue: #2667E8;
$dark-gray: #434852;
$eggshell: #E9ECF0;
$grape: #6877A1;
$hot-pink: #FF1278;
$lavender: #707aa5;
$light-gray: #EEEEEF;
$midnight-blue: #00155D;
$white: #fff;

$primary-font: 'Lato', sans-serif;
