$mobile-width: 800px;

$black: #000;
$charcoal: #1f2632;
$cloud: #f4f7fb;
$cookie-monster-blue: #3f64ed;
$dark-gray: rgba(32, 37, 50, 0.84);
$eggshell: rgba(255, 255, 255, 0.9);
$grape: rgba(0, 18, 95, 0.56);
$grape-light: rgba(0, 18, 95, 0.4);
$hot-pink: #ff287a;
$dark-pink: #de0060;
$lavender: #707aa5;
$light-gray: rgba(32, 37, 50, 0.08);
$medium-gray: #888889;
$midnight-blue: #00125f;
$pale-gray: #f4f7fb;
$white: #fff;

$primary-font: 'Lato', sans-serif;
