@import '../../styles/variables.scss';

.workshop {
  color: $color-dark-grey;
  font-size: 18px;
  line-height: 1.6;
  margin: 0 auto;
  width: 560px;

  @media (max-width: $mobile-width) {
    text-align: justify;
    width: 90%;
  }

  p {
    margin-bottom: 30px;
    @media (max-width: $mobile-width) {
      margin-bottom: 20px;
    }
  }

  & > h1 {
    text-align: center;
  }

  .bullets {
    margin-left: 10px;
    li {
      list-style-type: none;
    }
    li:before {
        content: '\2022';
        color: $color-red;
        padding-right: 12px
    }
  }

  .contactLink {
    text-decoration: none;
    font-weight: bold;
  }
}
