@import '../../styles/variables.scss';

.social {
  color: $color-dark-grey;
  font-size: 18px;
  line-height: 1.6;
  margin: 50px auto;
  text-align: center;
  width: 800px;

  @media (max-width: $mobile-width) {
    width: 90%;
  }

  p {
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: $mobile-width) {
      margin-bottom: 20px;
    }
  }

  .primaryImage {
    display: block;
    margin: 30px auto 0;
    width: 100%;
    border-radius: 10px;
    @media (max-width: $mobile-width) {
      margin: 20px auto;
    }
  }
}
