@import '../styles/variables';

.desktop {
  display: block;

  @media screen and (max-width: $mobile-width) {
    display: none;
  }
}

.mobile {
  display: none;

  @media screen and (max-width: $mobile-width) {
    display: block;
  }
}

.heroSection {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  text-align: center;
}

.header {
  color: $color-dark-grey;
  font-size: 46px;
  font-weight: 900;
  line-height: .83;
  margin-bottom: 60px;
  text-align: center;

  @media screen and (max-width: $mobile-width) {
    font-size: 36px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.heroImage {
  @media screen and (max-width: $mobile-width) {
    max-width: 90%;
  }
}

.contactUsBar {
  background-color: $color-red;
  margin-top: 110px;
  width: 100%;
}

.contactUsContent {
  color: $white;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  opacity: .9;
  text-align: left;

  @media screen and (max-width: $mobile-width) {
    line-height: 1.5;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 11px;
    text-align: center;
  }
}

.contactUsButton {
  background-color: $white;
  color: $color-red;
  display: inline-block;
  margin-bottom: 11px;
  margin-left: 20px;
  margin-top: 11px;

  &:hover {
    background-color: $cloud;
  }
}

.policies {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 600px;

  @media screen and (max-width: $mobile-width) {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.policiesContainer {
  margin-bottom: 80px;
}

.containerTitle {
  color: $color-red;
  font-size: 34px;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 12px;
  margin-top: 50px;
  text-align: center;

  @media screen and (max-width: $mobile-width) {
    font-size: 26px;
  }
}

.policyTitle {
  color: $color-red;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 12px;
  margin-top: 50px;
  text-align: center;

  @media screen and (max-width: $mobile-width) {
    font-size: 22px;
  }
}

.policyContent {
  color: #202532;
  font-size: 18px;
  line-height: 1.78;
  text-align: justify;

  @media screen and (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 1.6;
  }
}

.contentParagraphSource {
  color: $medium-gray;
  font-size: 12px;
  font-style: italic;
  margin-top: 85px;
}

.inlineLink {
  color: $color-red;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $color-red;
  }
}

.borderBottom {
  background-color: rgba(32, 37, 50, 0.14);
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}

.contactUsContainer {
  text-align: center;
}

.bottomImage {
  margin-top: 80px;
  max-width: 100%;
}

.bottomText {
  color: $color-medium-grey;
  font-size: 24px;
  line-height: 1.67;
  margin-top: 55px;
  text-align: center;

  @media screen and (max-width: $mobile-width) {
    font-size: 23px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.bottomButton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
