@import '../styles/variables';

.heroSection {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  text-align: center;
}

.header {
  color: $midnight-blue;
  font-size: 46px;
  font-weight: 900;
  line-height: .83;
  margin-bottom: 60px;
  text-align: center;

  @media screen and (max-width: $mobile-width) {
    font-size: 36px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.heroImage {
  @media screen and (max-width: $mobile-width) {
    max-width: 90%;
  }
}

.contactUsBar {
  background-color: $cookie-monster-blue;
  margin-top: 110px;
  width: 100%;
}

.contactUsContent {
  color: $white;
  font-size: 16px;
  font-weight: bold;
  opacity: .9;
  text-align: left;

  @media screen and (max-width: $mobile-width) {
    display: block;
    line-height: 1.5;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 11px;
    text-align: center;
  }
}

.contactUsButton {
  background-color: $white;
  color: $cookie-monster-blue;
  display: inline-block;
  margin-bottom: 11px;
  margin-left: 20px;
  margin-top: 11px;

  &:hover {
    background-color: $off-white;
  }
}

.questions {
  margin-left: auto;
  margin-right: auto;
  margin-top: 93px;
  max-width: 600px;

  @media screen and (max-width: $mobile-width) {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.borderBottom {
  background-color: rgba(32, 37, 50, 0.14);
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}

.contactUsContainer {
  text-align: center;
}

.bottomImage {
  margin-top: 80px;
  max-width: 100%;
}

.bottomText {
  color: rgba(0, 18, 95, 0.56);
  font-size: 24px;
  line-height: 1.67;
  margin-top: 55px;
  text-align: center;

  @media screen and (max-width: $mobile-width) {
    font-size: 23px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.bottomButton {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
