@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import '../styles/variables';

:global(body) {
  font-family: $primary-font;
  padding: 0;
  margin: 0;
}

:global(p) {
  box-sizing: border-box;
  color: $dark-gray;
  font-size: 18px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  text-align: justify;
}

:global(h2) {
  color: $midnight-blue;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (max-width: $mobile-width) {
    font-size: 30px;
  }
}

:global(h3) {
  color: $midnight-blue;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  margin: 0 0 15px;
  text-align: center;

  @media (max-width: $mobile-width) {
    font-size: 20px;
  }
}

:global(ul) {
  padding: 0;
}

.responsiveImage {
  max-width: 100%;
}

.sectionHeader {
  margin-bottom: 16px;
}

.sectionSubheader {
  color: $lavender;
  font-size: 24px;
  line-height: 1.67;
  margin: 0 auto;
  text-align: center;
  width: 660px;

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 1.5;
    width: 75%;
  }
}

.sectionBreak {
  background-color: $light-gray;
  height: 2px;
  margin: 84px auto;
  width: 70%;

  @media (max-width: $mobile-width) {
    margin: 64px auto 44px;
    width: 80%;
  }
}

.genericBanner {
  background-color: $cloud;
  color: $lavender;
  font-size: 24px;
  height: 72px;
  letter-spacing: 6px;
  line-height: 72px;
  margin-bottom: 72px;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    letter-spacing: 4px;
    margin-bottom: 52px;
  }
}

.clearBanner {
  @extend .genericBanner;
  background-color: transparent;
}

.pageWrapper {
  overflow: hidden;
}

.heroSection {
  background-color: $midnight-blue;
  position: relative;

  @media (max-width: $mobile-width) {
    background-image: url('./palace-fine-arts-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }
}

.videoBackground {
  display: flex;
  height: 784px;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.video {
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  width: auto;
}

.heroContent {
  background-color: rgba(0, 18, 95, 0.6);
  height: 784px;
  position: relative;
  z-index: 1;

  @media (max-width: $mobile-width) {
    background-color: transparent;
    height: 580px;
  }
}

.header {
  color: $white;
  font-size: 72px;
  font-weight: 900;
  margin: 50px 0 40px;
  text-align: center;

  @media (max-width: $mobile-width) {
    font-size: 40px;
  }
}

.heroLogo {
  height: 200px;
  margin: 52px auto 47px;
  width: 198px;

  @media (max-width: $mobile-width) {
    height: 110px;
    width: 110px;
  }
}

.subHeader {
  color: $white;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5.3px;
  line-height: 1.58;
  margin: 40px 0 0;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    font-size: 18px;
    line-height: 2.11;
  }
}

.subSubHeader {
  color: $white;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin: 32px 0 0;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}

.ctaBar {
  align-items: center;
  background: $lavender;
  display: flex;
  height: 72px;
  justify-content: center;
}

.ctaBarText {
  color: $eggshell;
}

.ctaBarRegisterButton {
  margin-left: 20px;
  width: 200px;
}

.supplementaryHeader {
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-top: 40px;
  text-transform: uppercase;
}

.leader {
  font-size: 20px;
  margin: 45px auto 40px;
  width: 600px;

  @media (max-width: $mobile-width) {
    font-size: 18px;
    line-height: 32px;
    width: 90%;
    margin-top: 40px;
  }
}

.bigCharacter {
  color: $cookie-monster-blue;
  font-size: 50px;
  font-weight: 900;
  line-height: 1em;
}

.leaderSub {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0;
  width: 951px;

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
    width: 90%;
  }
}

.leaderSub1 {
  width: 400px;

  @media (max-width: $mobile-width) {
    margin-top: 30px;
    width: 100%;
  }
}

.leaderSub2 {
  width: 482px;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.kolideBanner {
  color: $white;
  font-size: 24px;
  height: 72px;
  letter-spacing: 6px;
  line-height: 72px;
  margin: 92px 0;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $mobile-width + 1) {
    background: url('./kolide-pattern.svg') $cookie-monster-blue;
  }

  @media (max-width: $mobile-width) {
    background: url('./kolide-small-tile.svg') 7% center no-repeat,
      url('./kolide-small-tile.svg') 93% center no-repeat;
    background-color: $cookie-monster-blue;
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.62;
    margin: 40px 0 50px;
    padding-top: 10px;
  }
}

.kolideBannerText {
  display: inline-block;
  padding: 0 30px;
  height: 100%;
  width: 100%;

  @media (min-width: $mobile-width + 1) {
    background-image: linear-gradient(
      to right,
      transparent,
      $cookie-monster-blue 20%,
      $cookie-monster-blue 50%,
      $cookie-monster-blue 80%,
      transparent
    );
  }

  @media (max-width: $mobile-width) {
    width: 230px;
  }
}

.reserve {
  margin-bottom: 66px;

  @media (max-width: $mobile-width) {
    margin-bottom: 46px;
  }
}

.reserveSub {
  color: $lavender;
  font-size: 30px;
  text-align: center;

  @media (max-width: $mobile-width) {
    font-size: 20px;
  }
}

.passDescription {
  color: $midnight-blue;
  font-size: 30px;
  font-weight: 400;
  margin: 69px 0 75px;
  text-align: center;

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 1.67;
    margin: 45px 0;
  }
}

.passFeatures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 57px 0;

  @media (max-width: $mobile-width) {
    margin: 17px 0;
  }
}

.speakerSubmissionsHeader {
  color: $cookie-monster-blue;
  font-size: 48px;
  font-weight: 900;
  margin: 0 auto 45px;
  text-align: center;

  @media (max-width: $mobile-width) {
    font-size: 30px;
  }
}

.megaphoneImage {
  margin: 0 auto 45px;
  width: 208px;
}

.speakerSubmissionsDescription {
  color: $lavender;
  font-size: 24px;
  line-height: 1.67;
  margin: 0 auto 50px;
  text-align: center;
  width: 475px;

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 2;
    width: 95%;
  }

  strong {
    color: $midnight-blue;
  }
}

.speakerSubmissionButton {
  margin: 0 auto 104px;

  @media (max-width: $mobile-width) {
    margin: 0 auto;
  }
}

.venueImage {
  margin: 33px auto 20px;
  width: 489px;

  @media (max-width: $mobile-width) {
    width: 280px;
  }
}

.venueDescription {
  color: $dark-gray;
  font-size: 20px;
  line-height: 1.6;
  margin: 0 auto 111px;
  text-align: center;
  width: 560px;

  @media (max-width: $mobile-width) {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 61px;
    text-align: justify;
    width: 90%;
  }
}

.venueMap {
  background: url('./venue-map.png') center center no-repeat;
  background-size: cover;
  height: 360px;
  width: 100%;
}

.prominentCTAs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.preConfMain {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 61px auto 0;
  max-width: 1070px;
}

.preConfMainVideo {
  background-color: $black;
  height: 300px;
  margin-bottom: 30px;
  width: 500px;

  @media (max-width: $mobile-width) {
    height: auto;
    width: 100%;
  }
}

.preConfMainText {
  @media (max-width: $mobile-width) {
    width: 90%;
  }
}

.preConfMainTitle {
  font-size: 20px;
  text-align: left;
}

.preConfMainDescription {
  font-size: 16px;
  line-height: 1.62;
  margin-bottom: 30px;
  text-align: left;
  width: 500px;

  @media (max-width: $mobile-width) {
    margin-bottom: 15px;
    width: 100%;
  }
}

.moreResourcesBanner {
  margin-bottom: 30px;
}

.questionsSectionHeader {
  color: $cookie-monster-blue;
}
