@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import '../styles/variables';

:global(body) {
  font-family: $primary-font;
  padding: 0;
  margin: 0;
}

:global(p) {
  box-sizing: border-box;
  color: $dark-gray;
  font-size: 18px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  text-align: justify;
}

:global(h2) {
  color: $midnight-blue;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-align: center;
}

:global(h3) {
  color: $midnight-blue;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  margin: 0 0 15px;
  text-align: center;
}

.responsiveImage {
  max-width: 100%;
}

.sectionHeader {
  margin-bottom: 16px;
}

.sectionSubheader {
  color: $lavender;
  font-size: 24px;
  line-height: 1.67;
  margin: 0 auto;
  text-align: center;
  width: 660px;
}

.sectionBreak {
  background-color: $light-gray;
  height: 2px;
  margin: 84px auto;
  width: 70%;
}

.genericBanner {
  background-color: $cloud;
  color: $lavender;
  font-size: 24px;
  height: 72px;
  letter-spacing: 6px;
  line-height: 72px;
  margin-bottom: 72px;
  text-align: center;
  text-transform: uppercase;
}

.heroSection {
  background-color: $midnight-blue;
  position: relative;
}

.videoBackground {
  height: 784px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.video {
  height: 784px;
}

.heroContent {
  background-color: rgba(0, 18, 95, 0.6);
  height: 784px;
  position: relative;
  z-index: 1;
}

.header {
  color: $white;
  font-size: 72px;
  font-weight: 900;
  margin: 50px 0 40px;
  text-align: center;
}

.heroLogo {
  height: 200px;
  margin: 52px auto 47px;
  width: 198px;
}

.subHeader {
  color: $white;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5.3px;
  line-height: 1.58;
  margin: 40px 0 0;
  text-align: center;
  text-transform: uppercase;
}

.subSubHeader {
  color: $white;
  font-size: 24px;
  font-weight: 400;
  margin: 32px 0 0;
  text-align: center;
  text-transform: uppercase;
}

.ctaBar {
  align-items: center;
  background: $lavender;
  display: flex;
  height: 72px;
  justify-content: center;
}

.ctaBarText {
  color: $eggshell;
}

.ctaBarRegisterButton {
  margin-left: 20px;
  width: 200px;
}

.leader {
  font-size: 20px;
  margin: 45px auto 40px;
  width: 600px;
}

.bigCharacter {
  color: $cookie-monster-blue;
  font-size: 50px;
  font-weight: 900;
  line-height: 1em;
}

.leaderSub {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0;
  width: 951px;
}

.leaderSub1 {
  width: 400px;
}

.leaderSub2 {
  width: 482px;
}

.kolideBanner {
  background: $cookie-monster-blue;
  color: $white;
  font-size: 24px;
  height: 72px;
  letter-spacing: 6px;
  line-height: 72px;
  margin: 92px 0;
  text-align: center;
  text-transform: uppercase;
}

.reserve {
  margin-bottom: 66px;
}

.reserveSub {
  color: $lavender;
  font-size: 30px;
  text-align: center;
}

.passDescription {
  color: $midnight-blue;
  font-size: 30px;
  font-weight: 400;
  margin: 69px 0 75px;
  text-align: center;
}

.passFeatures {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 57px 0;
}

.speakerSubmissionsHeader {
  color: $cookie-monster-blue;
  font-size: 48px;
  font-weight: 900;
  margin: 0 auto 45px;
  text-align: center;
}

.megaphoneImage {
  margin: 0 auto 45px;
  width: 208px;
}

.speakerSubmissionsDescription {
  color: $lavender;
  font-size: 24px;
  line-height: 1.67;
  margin: 0 auto 50px;
  text-align: center;
  width: 475px;

  strong {
    color: $midnight-blue;
  }
}

.speakerSubmissionButton {
  margin: 0 auto 104px;
}

.venueImage {
  margin: 33px auto 20px;
  width: 489px;
}

.venueDescription {
  color: $dark-gray;
  font-size: 20px;
  line-height: 1.6;
  margin: 0 auto 111px;
  text-align: center;
  width: 560px;
}

.venueMap {
  background: url('./venue-map.png') center center no-repeat;
  background-size: cover;
  height: 360px;
  width: 100%;
}

.lodgingOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
