@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import '../styles/variables';

:global(body) {
  font-family: $primary-font;
  padding: 0;
  margin: 0;
}

:global(p) {
  box-sizing: border-box;
  color: $dark-gray;
  font-size: 18px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  text-align: justify;
}

:global(h2) {
  color: $midnight-blue;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-align: center;
}

:global(h3) {
  color: $midnight-blue;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  margin: 0 0 15px;
  text-align: center;
}

.responsiveImage {
  max-width: 100%;
}

.heroSection {
  background-color: $midnight-blue;
  padding-bottom: 95px;
}

.header {
  color: $white;
  font-size: 72px;
  font-weight: 900;
  margin: 50px 0 40px;
  text-align: center;
}

.subHeader {
  color: $white;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 2.7px;
  margin: 40px 0 0;
  text-align: center;
  text-transform: uppercase;
}

.subSubHeader {
  color: $white;
  font-size: 24px;
  font-weight: 400;
  margin: 32px 0 0;
  text-align: center;
  text-transform: uppercase;
}

.ctaBar {
  align-items: center;
  background: $lavender;
  display: flex;
  height: 72px;
  justify-content: center;
}

.ctaBarText {
  color: $eggshell;
}

.ctaBarRegisterButton {
  margin-left: 20px;
  width: 200px;
}

.leader {
  font-size: 20px;
  margin: 45px auto 40px;
  width: 600px;
}

.bigCharacter {
  color: $cookie-monster-blue;
  font-size: 50px;
  font-weight: 900;
  line-height: 1em;
}

.leaderSub {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0;
  width: 951px;
}

.leaderSub1 {
  width: 400px;
}

.leaderSub2 {
  width: 482px;
}

.kolideBanner {
  background: $cookie-monster-blue;
  color: $white;
  font-size: 24px;
  height: 72px;
  letter-spacing: 6px;
  line-height: 72px;
  margin: 92px 0;
  text-align: center;
  text-transform: uppercase;
}

.reserve {
  margin-bottom: 66px;
}

.reserveSub {
  color: $lavender;
  font-size: 30px;
  text-align: center;
}
