@import '../../styles/variables';

.header {
  background-color: $white;
  background-image: url('assets/logo/querycon_logo.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  display: flex;
  align-items: center;
  height: 50px;
}

.nav {
  margin-left: 15px;
}
