@import '../../styles/variables';

.header {
  background-color: $white;
  background-image: url('../../pages/querycon.svg');
  background-position: center 25px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 66px;
}

.nav {
  left: 16px;
  position: relative;
  top: 38px;
}
