@import '../../styles/variables';

.header {
  align-items: center;
  display: flex;
  height: 94px;
  justify-content: space-between;
  padding: 0 20px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  width: 600px;
}

.registerButton {
  margin-left: 30px;
}
