@import '../../styles/variables.scss';

.tab {
  background-color: $color-light-grey;
  border: 1px solid transparent;
  border-radius: 6px;
  color: $color-medium-grey;
  font-family: $primary-font;
  font-weight: 700;
  height: 50px;
  outline: none;
  padding: 0 24px;
  transition: background-color .2s, color .2s, border-color .2s;

  @media(max-width: $narrow-mobile-width) {
    margin-bottom: 10px;
  }
}

.tab:hover {
  background-color: $color-red;
  border-color: $color-red;
  color: $white;
  cursor: pointer;
}

.activeTab{
  background-color: $white;
  border-color: $color-red;
  color: $color-red;
}

.smallTab {
  font-size: 18px;
}

.largeTab {
  font-size: 24px;
  height: 70px;
  line-height: 70px;

  @media(max-width: $narrow-mobile-width) {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
  }
}
