@import '../../styles/variables.scss';

.footer {
  background-color: $eggshell;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding: 28px;

  @media(max-width: $mobile-width) {
    flex-direction: column;
    margin-top: 40px;
  }
}

.footerBranding {
  background: url('../../pages/querycon.svg') left center no-repeat;
  background-size: 48px 48px;
  color: $lavender;
  font-size: 18px;
  font-weight: 900;
  height: 48px;
  letter-spacing: 3px;
  line-height: 48px;
  margin-bottom: 15px;
  padding-left: 58px;
  text-transform: uppercase;
}

.header {
  color: $lavender;
  font-size: 16px;
  letter-spacing: 0.6px;
  text-align: left;
}

.li {
  list-style: none;
  margin-bottom: 30px;

  @media(max-width: $mobile-width) {
    margin-bottom: 10px;
  }

  > a {
    color: $lavender;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;

    @media(max-width: $mobile-width) {
      font-weight: 400;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.li > .registerLink {
  font-size: 18px;

  @media(max-width: $mobile-width) {
    font-size: 16px;
    font-weight: 700;
  }
}

.copyright {
  color: $lavender;
  flex: 3;
  font-size: 18px;
  font-weight: 400;
  opacity: .3;
  padding-top: 130px;
  text-decoration: none;

  @media(max-width: $mobile-width) {
    padding-top: 80px;
  }
}

.links {
  flex: 1;
}
