@import '../../styles/variables.scss';

.mainSpeaker {
  align-items: center;
  background: $cloud;
  display: flex;
  justify-content: space-around;
  height: 480px;
  margin: 81px 0 56px;
}

.name {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-align: left;
}

.company {
  color: $cookie-monster-blue;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 4px;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: left;
  text-transform: uppercase;
}

.title {
  color: $lavender;
  font-size: 30px;
  height: 48px;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
  white-space: nowrap;
}

.break {
  background-color: $light-gray;
  height: 2px;
  margin: 0 0 28px;
  width: 300px;
}

.presentationHeader {
  color: $midnight-blue;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 4.8px;
  margin-bottom: 15px;
  text-align: left;
  text-transform: uppercase;
}

.presentation {
  color: $dark-gray;
  font-size: 24px;
  height: 32px;
  line-height: 1.33;
  text-align: left;
}
