@import '../../styles/variables';

.textLogo {
  font-size: 18px;
  font-weight: 900;
  height: 50px;
  letter-spacing: 3px;
  line-height: 50px;
  padding-left: 65px;
  text-decoration: none;
  text-transform: uppercase;
}

.textLogoLight {
  @extend .textLogo;
  background: url('../../pages/querycon-large.svg') left center no-repeat;
  color: $white;
}

.textLogoDark {
  @extend .textLogo;
  background: url('../../pages/small-querycon-dark.svg') left center no-repeat;
  color: $midnight-blue;
}
