@import '../../styles/variables';

.textLogo {
  background: url('../../pages/querycon-large.svg') left center no-repeat;
  color: $white;
  font-size: 18px;
  font-weight: 900;
  height: 50px;
  letter-spacing: 3px;
  line-height: 50px;
  padding-left: 65px;
  text-transform: uppercase;
}
