@import '../../styles/variables';

.textLogo {
  font-size: 18px;
  font-weight: 900;
  height: 50px;
  width: 50px;
  letter-spacing: 3px;
  line-height: 50px;
  padding-left: 65px;
  text-decoration: none;
  text-transform: uppercase;
  background: url('assets/logo/querycon_logo.svg') left center no-repeat;
  background-size: 50px 50px;
  color: $color-black;

  &:hover {
    color: $color-red;
  }
}
