@import '../../styles/variables.scss';

.prominentCta {
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;

  &:visited {
    color: $color-dark-grey;
  }

  @media(max-width: $mobile-width) {
    margin-bottom: 90px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.circle {
  align-items: center;
  background-color: $color-light-grey;
  border-radius: 300px;
  display: inline-flex;
  height: 300px;
  justify-content: center;
  margin-bottom: 36px;
  width: 300px;

  @media(max-width: $mobile-width) {
    background-color: transparent;
    height: inherit;
  }
}

.icon {
  @media(max-width: $mobile-width) {
    width: 130px;
  }
}

.iconImg {
  max-width: 100%;
}

.heading {
  color: $color-red;
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  text-decoration: none;

  &:hover {
    color: darken($color-red, 10%);
  }
}
