@import '../../../styles/variables';

.registerButton {
  background-color: $hot-pink;
  border-radius: 4px;
  color: $white;
  display: block;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  letter-spacing: 0.6px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s;
  width: 180px;

  &:hover {
    background: darken($hot-pink, 10%);
  }
}
