@import '../../styles/variables';

.nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 368px;
}

.link {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .6px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $hot-pink;
  }
}

.linkLight {
  @extend .link;
  color: $eggshell;
}

.linkDark {
  @extend .link;
  color: $grape;
}
